
@{
    ViewBag.Title = "Asset List";
}


<div class="row" style="margin-top:40px;">
    <div class="col-xs-2">
        <a href="@Url.Action("Dashboard", new { @name="PALAMPUR/HP/IN"})">
            <img class="img-responsive img-circle" src=@Url.Content("/Content/12.png") />
        </a>      
    </div>
    <div class="col-xs-2">
        <a href="@Url.Action("Dashboard", new { @name= "HAZARIBAUGH/JR/IN" })">
            <img class="img-responsive img-circle" src=@Url.Content("/Content/12.png") />
        </a>
</div>
    <div class="col-xs-2">
        <a href="@Url.Action("Dashboard", new { @name= "PALAKKAD/KR/IN" })">
            <img class="img-responsive img-circle" src=@Url.Content("/Content/12.png") />
        </a>
</div>
    <div class="col-xs-2">
        <a href="@Url.Action("Dashboard", new { @name= "JALGAON/MH/IN" })">
            <img class="img-responsive img-circle" src=@Url.Content("/Content/12.png") />
        </a>
</div>
    <div class="col-xs-2">
        <a href="@Url.Action("Dashboard", new { @name= "PATNA/BR/IN" })">
            <img class="img-responsive img-circle" src=@Url.Content("/Content/12.png") />
        </a>
</div>
    <div class="col-xs-2">
        <a href="@Url.Action("Dashboard", new { @name= "KUTCH/GJ/IN" })">
            <img class="img-responsive img-circle" src=@Url.Content("/Content/12.png") />
        </a>
</div>
    
    </div>


